@import '../defaults/_colors';
@import '../defaults/_layout';
@import '../defaults/_text';

main {
  @include flex-col;
  justify-content: space-between;
  img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  main {
    img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px){
  main {
    img {
      width: 25%;
    }
  }
}