@import '../defaults/default-comb';

.about {
  @include flex-row-wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 50em;
}

.interests {
  @include flex-row-wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  margin: 0 auto;
  max-width: 50em;
}

.about-text, .interests-text {
  background-color: $container-color;
  padding: 20px;
  margin: 1em;
}

/* Condenses text component to allow image in same row*/
@media screen and (min-width: 500px) {
  .about-text, .interests-text {
    width: 50%;
    height: 50%;
    max-width: 500px;
  }
}