@import '../defaults/_colors';
@import '../defaults/_link-decorations';
@import '../defaults/_layout';
@import '../defaults/_text';


.footer {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $primary-color;
  height: 50px;
  p {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
  }
}

.socials {
  ul {
    @include flex-row;
    margin-left: 5px;
    a{
      @include link-styles;
      margin-right: 5px;
      li {
        @include link-font
      }
      &:hover {
        background-color: black;
        color: white;
        transition: 2s;
      }
    }
  }
}


// Media queries for device compatibility

@media screen and (min-width: 500px) {
  .footer {
    height: 56px;
    p {
      font-size: 1.2em;
    }
  }

  .socials {
    ul{
      a{
        margin-right: 16px;
      }
    }
    li {
      font-size: 1.2em;
    }
    
  }
  
}