/* Header component */

@import '../defaults/default-comb';

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: $primary-color;
  height: 100px;
  margin-bottom: 10px;
}
  


.nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  ul {
    display: flex;
    flex-flow: row nowrap;
    a{
      @include link-styles;
      li {
        margin-right: 5px;
        @include link-font;
      }
      &:hover {
          background-color: black;
          color: white;
          transition: 2s;
        }
    }
  }
}


@media screen and (min-width: 500px) {

  .header{
    height: 150px;
    // .header-logo{
    //   img{
    //     width: 150px;
    //     height: 150px;
    //   }
    
  }
  
  .nav {
    ul{
      a{
        li{
          margin-right: 16px;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .nav {
    ul{
      a{
        li{
          margin-right: 32px;
          font-size: 2em;
        }
      }
    }
  }
}
