// Header Component

@import '../defaults/_colors';
@import '../defaults/_link-decorations';
@import '../defaults/_text';

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: $primary-color;
  height: 100px;
  .header-logo{
    margin-left: 5px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  
}

.nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  ul {
    display: flex;
    flex-flow: row nowrap;
    a{
      @include link-styles;
      li {
        margin-right: 5px;
        @include link-font;
      }
    }
  }
}
