/* Graphical components for images */
.header-logo{
  margin-left: 5px;
  img {
    width: 5em;
    height: auto;
  }
}

.landing-cover {
  width: 20em;
  height: auto;
  margin: 0 auto;
}

/* Styling for about me page images */
.about-image {
    margin: 0 auto;
    
    img {
      max-width: 12em;
      border: 5px dashed $container-color;
      border-radius: 15%;
    }
}

/* Styling for blog images */
.blog-image {
  margin: 20px 0 20px 0;
 img {
  width: 100%;
  height: auto;
 } 
}