

.landing-cover {
  width: 20em;
  height: auto;
  margin: 0 auto;
}

/* Styling for about me page image */
.about-image {
    margin: 0 auto;
    
    img {
      max-width: 12em;
      border-radius: 15%;
      box-shadow: 2px 4px 6px;
    }
}