// default settings
@import './defaults/_reset';
@import './defaults/_colors';


//header component
@import './components/_header';


//footer component
@import './components/_footer';

// Project card components
@import './components/project-card';

// All text content related components
@import './components/text-content';


body {
  @include flex-col;
  min-height: 100vh;
}

main {
  @include flex-col;
  flex-grow: 1;
  justify-content: space-between
}

