/* Default settings */
@import './defaults/default-comb';



@import './components/_header';


@import './components/_footer';


@import './components/images';


@import './components/about-layout';


@import './components/project-card';


@import './components/text-content';


@import './components/blog-card';

@import './components/blog';

@import './components/contact-form';


/* Body layout stylings */
body {
  @include flex-col;
  min-height: 100vh;
}

main {
  @include flex-col;
  flex-grow: 1;
  justify-content: space-between
}

